Repository camcima/nestjs-url-shortener: changes, and which lefthook commands are due for each by the changed paths.
All: biome, format

lefthook.yml:

pre-commit:
  commands:
    biome:
      glob: '*.{js,ts}'
      run: npm run lint {staged_files}
    format:
      glob: '*.{js,ts,json,md}'
      run: npm run format {staged_files}

pre-push:
  commands:
    test:
      run: npx vitest run --config ./test/vitest.config.ts --project unit --silent 'passed-only'

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

chore: change to simple test reporter on pre-push
  lefthook.yml
Due: none

test: add integration test to ensure that the `ShortUrlModule` is initialized
  test/___mocks__/noop-database-module.ts
  test/integration/short-url/short-url.module.spec.ts
  test/vitest.config.ts
Due: biome, format

chore: remove dangerous npm-script
  package.json
  test/vitest.config.ts
Due: biome, format

feat: add 'health' module
  src/apps/rest-api/rest-api-app.module.ts
  src/health/domain/services/database-health-indicator.service.ts
  src/health/health.module.ts
  src/health/presentation/rest-api/app-health.controller.ts
  src/health/presentation/rest-api/dto/health-check-result.dto.ts
  src/health/presentation/rest-api/health-rest-api.module.ts
  src/health/presentation/rest-api/mappers/health-application-to-rest-api.mapper.ts
  src/shared/infrastructure/persistence/database-client.ts
Due: biome, format

feat: always ensure database connection
  src/shared/infrastructure/persistence/database-client.ts
  src/shared/infrastructure/persistence/database.module.ts
Due: biome, format

fix: `DatabaseClient#isConnected`
  src/shared/infrastructure/persistence/database-client.ts
Due: biome, format

test: add integration tests for open-api-loader component
  package.json
  src/shared/presentation/rest-api/documentation/open-api-loader.ts
  test/integration/shared/presentation/rest-api/documentation/open-api-loader.spec.ts
Due: biome, format

chore: add type-check on pre-push git hook
  lefthook.yml
Due: none

refactor: use factory pattern for database client creation
  src/shared/infrastructure/persistence/database-client.ts
  src/shared/infrastructure/persistence/database.module.ts
Due: biome, format

chore: fix `format` npm script
  README.md
  package.json
Due: format

feat: set logger context
  src/health/health.module.ts
Due: biome, format

feat: add cli app
  package.json
  pnpm-lock.yaml
  src/apps/cli/cli-app.module.ts
  src/apps/cli/cli.main.ts
  src/short-url/presentation/cli/commands/resolve-short-code/resolve-short-code-cli-to-application.mapper.ts
  src/short-url/presentation/cli/commands/resolve-short-code/resolve-short-code-command-input.ts
  src/short-url/presentation/cli/commands/resolve-short-code/resolve-short-code.command.ts
  src/short-url/presentation/cli/short-url-cli.module.ts
Due: biome, format

test: add integration test for `HealthModule`
  test/integration/health/health.module.spec.ts
Due: biome, format

refactor: rename app logger file
  src/health/domain/services/database-health-indicator.service.ts
  src/health/health.module.ts
  src/shared/app-logger.port.ts
  src/shared/infrastructure/logger/logger.module.ts
  src/short-url/application/use-cases/shorten-url.use-case.ts
  src/short-url/presentation/cli/commands/resolve-short-code/resolve-short-code.command.ts
  src/short-url/short-url.module.ts
  test/___mocks__/noop-application-logger.ts
  test/unit/short-url/application/use-cases/shorten-url.use-case.spec.ts
Due: biome, format

docs: add dep graph
  CODEBASE_FILE_STRUCTURE.pt-br.md
Due: format

chore: add docker config files
  Dockerfile
  docker-compose.yml
Due: none

feat: destroy db connection on module destroy
  src/shared/infrastructure/persistence/database-client.ts
  src/shared/infrastructure/persistence/database.module.ts
Due: biome, format

refactor: use injectable
  src/short-url/application/use-cases/resolve-short-code-url.use-case.ts
  src/short-url/domain/services/url-short-code-generator.service.ts
  src/short-url/short-url.module.ts
Due: biome, format

refactor: rename dtos sufixs
  src/short-url/presentation/rest-api/controllers/resolve-short-code.controller.ts
  src/short-url/presentation/rest-api/controllers/shorten-url.controller.ts
  src/short-url/presentation/rest-api/dtos/resolve-short-code.dto.ts
  src/short-url/presentation/rest-api/dtos/short-url.dto.ts
  src/short-url/presentation/rest-api/dtos/shorten-url.dto.ts
  src/short-url/presentation/rest-api/mappers/resolve-url-rest-api-to-application.mapper.ts
  src/short-url/presentation/rest-api/mappers/shorten-url-application-to-rest-api.mapper.ts
  src/short-url/presentation/rest-api/mappers/shorten-url-rest-api-to-application.mapper.ts
Due: biome, format

refactor: remove `VO` from value object class names
  src/short-url/application/use-cases/resolve-short-code-url.use-case.ts
  src/short-url/application/use-cases/shorten-url.use-case.ts
  src/short-url/domain/entities/short-url.entity.ts
  src/short-url/domain/errors/short-code-already-taken.error.ts
  src/short-url/domain/errors/short-code-not-found.error.ts
  src/short-url/domain/repositories/short-code.repository.port.ts
  src/short-url/domain/services/url-short-code-generator.service.ts
  src/short-url/domain/value-objects/short-code.vo.ts
  src/short-url/infrastructure/repositories/short-code.db.repository.ts
  src/short-url/presentation/cli/commands/resolve-short-code/resolve-short-code-cli-to-application.mapper.ts
  src/short-url/presentation/rest-api/mappers/resolve-url-rest-api-to-application.mapper.ts
  test/unit/short-url/application/use-cases/resolve-short-code-url.use-case.spec.ts
  test/unit/short-url/application/use-cases/shorten-url.use-case.spec.ts
  test/unit/short-url/domain/services/url-short-code-generator.service.spec.ts
  test/unit/short-url/domain/value-objects/short-code.vo.spec.ts
Due: biome, format

feat: load .env when running tests as well
  package.json
  pnpm-lock.yaml
  src/shared/infrastructure/environment.configuration.ts
  src/short-url/application/use-cases/shorten-url.use-case.ts
  test/vitest.config.ts
Due: biome, format

feat: handle exceptions on bootstrapping the rest api app
  src/apps/rest-api/rest-api.main.ts
Due: biome, format

refactor: remove `nest-problem-details-filter` in favor of in-house
  package.json
  pnpm-lock.yaml
  src/apps/rest-api/rest-api-app.module.ts
  src/shared/presentation/rest-api/middlewares/catch-all-exceptions.filter.ts
Due: biome, format

style: rename mocks directory
  test/___mocks___/noop-application-logger.ts
  test/___mocks___/noop-database-module.ts
  test/integration/health/health.module.spec.ts
  test/integration/short-url/short-url.module.spec.ts
  test/unit/short-url/application/use-cases/shorten-url.use-case.spec.ts
Due: biome, format

style: rename
  test/__mocks__/noop-application-logger.ts
  test/__mocks__/noop-database-module.ts
  test/integration/health/health.module.spec.ts
  test/integration/short-url/short-url.module.spec.ts
  test/unit/short-url/application/use-cases/shorten-url.use-case.spec.ts
Due: biome, format

chore: split database env var into multiple parts
  .env.example
  docker-compose.yml
  src/shared/infrastructure/environment.configuration.ts
  src/shared/infrastructure/persistence/database-client.ts
  src/shared/infrastructure/persistence/database.module.ts
Due: biome, format

chore: fix dbmate usage
  .env.example
  package.json
Due: format

chore: more config for release-it
  .release-it.json
Due: format

test: use lib to create mocks
  package.json
  pnpm-lock.yaml
  test/unit/short-url/application/use-cases/resolve-short-code-url.use-case.spec.ts
  test/unit/short-url/application/use-cases/shorten-url.use-case.spec.ts
Due: biome, format

feat: add retry for database connection
  package.json
  pnpm-lock.yaml
  src/health/domain/services/database-health-indicator.service.ts
  src/shared/infrastructure/persistence/database-client.ts
  src/shared/utils/misc.utils.ts
  test/unit/shared/utils/misc.utils.spec.ts
Due: biome, format

chore: allow declaration merge
  biome.jsonc
Due: none

chore: fix dockerfile and docker-compose setup files
  .gitignore
  Dockerfile
  README.md
  dev.Dockerfile
  docker-compose.yml
  infra/otel-collector-config.yaml
  infra/prometheus.yaml
Due: format

refactor: rename repository implementation class
  src/short-url/infrastructure/repositories/short-code.db.repository.ts
  src/short-url/short-url.module.ts
Due: biome, format

fix: move otel initialization to before everything
  src/apps/rest-api/rest-api.main.ts
Due: biome, format

chore: ensure at least one day of existence for packages
  pnpm-workspace.yaml
Due: none

fix: add auto generated for `id` column
  db/migrations/20250901004437_create-short-codes-table.sql
Due: none

feat: improve error handling for httpexceptions
  src/apps/rest-api/rest-api-app.module.ts
  src/apps/rest-api/rest-api.main.ts
  src/shared/presentation/rest-api/middlewares/catch-all-exceptions.filter.ts
Due: biome, format
